CMakeFiles
Makefile
CmakeCache.txt
cmake_install.cmake
deps/*/CMakeFiles/
deps/*/CmakeLists.txt
deps/*/CMakeCache.txt
deps/*/Makefile
*fkvs-cli
*fkvs-server
*fkvs-benchmark
*fkvs
.idea
build.log
compile_commands.json
!Makefile.fkvs
test_*
!tests/*test_*
Testing/
CTestTestfile.cmake
